<body>
      <h1 class= 'home_h1'>
      <%- @video do |video| %>
	  <%= video.url.html_safe %>
      <% end %>
      </h1>

      <%= link_to 'Enter NotNice', notnice_path, class: 'enter' %>
</body>
