body{
  background-color: #ccc;
  border: solid 1px #6C7777;	
  border-radius: 4px;
  padding: 10px;
}

a{
  font-size: 20px;
  font-family: arial;
  color: #fff;
  background-color: #25a6e1;
  text-align center;
  float: left;
  text-decoration: none;
  border: 1px solid #1a87b9;
  border-radius: 4px;
  padding: 5px 10px 0 10px;
  margin: 3px;
}

h1{
  padding: 0 140px 0 0;
}

.field{
  display: list-item;
  border-radius: 4px;
  border: 1px solid #8585ad;
  font-size: 20px;
}

.submit{
  font-size: 18px;
  font-family: arial;
  border-radius: 5px;
  cursor: pointer;
}

.home_h1{
  padding: 0;

}

.enter{
  font-size: 20px;
  float: none;
}

p{
  font-size: 27px;
  font-family: arial;

}

.username{
  float: right;
  font-size: 19px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border: 1px solid #36c;
  border-radius: 4px;
  color: #fff;
  background-color: #4775d1;
  width: 175px;
}

.new_video{
  cursor: pointer;
}

.video{
  padding: 50px;
}

#notnice{
  text-align: center;
  font-size: 60px;
  padding: 0 0 0 30px;
}

#notnice_h1{
  text-align: center;
}

.new_video_div{
  margin: 0 0 0 15px;
}
