body{
  background-color: #ccc;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.main{
  background: url('/assets/city.jpg') repeat-x;
  height: 350px;
}

p{
  font-size: 27px;
  font-family: arial;
}

a{
  font-size: 20px;
  font-family: arial;
  color: #fff;
  background-color: #25a6e1;
  text-align center;
  float: left;
  text-decoration: none;
  border: 1px solid #1a87b9;
  border-radius: 4px;
  padding: 5px 10px 0 10px;
}

iframe{
  width: 690px;
  height: 440px;
  border: 1px solid #6f6f86 ;
  border-radius: 7px;
}

.username_div{
  height: 100px;
}

.video_ul{
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.caption{
  width: 650px;
   padding: 20px;
   width: 90%; 
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.comment_div{
  /* width: 693px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* position: relative; */
  /* left: -48px; */
  /* border: 1px solid #88808a; */
  /* border-radius: 5px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* background-color: #ccc; */
}

.delete{
  font-size: 16px;
  float: right;
}

#delete_comment{
  font-size: 12px;
  background-color: #cc1010;
}

#delete_video{
  background-color: #ff0303;
}

.caption{
  margin: 0 0 0 4px;
  text-align: left;
}

.caption_username{
  color: #36f;
}

.caption_text{
  font-size: 23px;
}

.comment_text{
  font-size: 16px;
}

.comment{
  margin: 0;
  font-size: 19px;
  text-align: left;
  margin: 0 0 0 9px;
}

.comment_username{
  color: #f66;
}

#post_comment{
  float: left; 
}

.field{
  display: list-item;
  border-radius: 4px;
  border: 1px solid #8585ad;
  font-size: 20px;
}

.area{
  display: list-item;
  border-radius: 4px;
  border: 1px solid #8585ad;
  height: 58px;
  width: 200px;
  font-size: 12px;
  font-family: arial;
  margin: 1px;
}

.submit{
  font-size: 18px;
  font-family: arial;
  border-radius: 5px;
  cursor: pointer;
}

.enter{
  font-size: 20px;
  float: none;
}

.username{
  float: right;
  font-size: 19px;
  text-align: center;
  padding: 5px;
  border: 1px solid #36c;
  border-radius: 4px;
  color: #fff;
  background-color: #4775d1;
  max-width: 175px;
  position: relative;
  top: -15px;
}

.notnice{
  font-size: 60px;
  margin: 0;
}

.log_in{
  text-align: left;
}

.log_in{
  text-align: left;
}

.embed_video{
  text-align: left;
  width: 180px;
  background-color: #676767;
  border: 1px solid ;
  border-radius: 3px;
  position: relative;
  top: 20px;
}

#sign_up{
  padding: 0 0 0 18px;
  background-color: #ccc;
  width: 180px;
  border: 1px solid #676767;
  border-radius: 7px;
}

#sign_up{
  padding: 0 0 0 18px;
  background-color: #ccc;
  width: 125px;
  border: 1px solid #676767;
  border-radius: 7px;
}

#submit_video{
  float: left;
  padding: 0 0 0 18px;
  background-color: #ccc;
  width: 140px;
  border: 1px solid #676767;
  border-radius: 7px;
}
